.holder {
    background-image: url('../img/alt3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 675px;
}

.container {
    padding: 0px !important;
    /* margin: 0px; */
}

img.img.img-responsive.market-logo {
    width: 160px;
}

img.img.img-responsive.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.img.img-responsive.logo {
    width: 200px;
}

.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #c2c5c7;
}

.up-row {
    margin: 30px;
}

.home-content {
    text-align: center;
}

.home-h1 {
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    font-style: italic;
    font-weight: bolder;
}

.home-h3 {
    font-size: 26px;
    color: #fff;
}

.col-md-3.currency_tab {
    padding: 10px;
    border: 1px solid #989797
}

h2.banner-h2 {
    margin: 0px;
    padding: 11px;
}

thead {
    background: rgba(23, 171, 61, 0.85);
    color: #fff;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #f9f9f9;
}

.logo-holder {
    padding: 21px;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Bree Serif', serif;
    margin: 0px;
    padding: 0px;
}

#mobile-and-tablet {
    display: none;
}

#banner {
    background: #424242;
    display: block;
    grid-template-columns: 4% 4%;
    align-content: center;
    align-items: center;
    color: white;
    padding: 15px 40px;
    font-size: 24px;
    text-align: left;
}

#banner1 {
    background: #424242;
    display: block;
    grid-template-columns: 4% 4%;
    align-content: center;
    align-items: center;
    color: white;
    padding: 50px;
    font-size: 24px;
    text-align: left;
}

#banner #icon {
    animation: rotateCoin 4s infinite;
}

#banner1 #icon {
    animation: rotateCoin 4s infinite;
}

#banner span {
    margin: 0px 0px 30px 10px;
}

@keyframes rotateCoin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.container {
    padding: 40px 10px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.container p {
    display: inline !important;
}

.currency {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 3px solid #00796b;
    margin-bottom: 1.5em;
    border-radius: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.currency p {
    margin: 0px !important;
    padding: 15px 15px;
}

.currency p:not(.currency-name) {
     text-align: center;
     color: #004d40;
}

.currency div {
    display: grid;
    grid-template-columns: 20% 80%;
}

#heading, h5 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}



.fa-arrow-up {
    color: green;
}

.fa-arrow-down {
    color: red;
}

.currency-name {
    background: #00796b;
    text-align: left;
    padding-left: 40px !important;
    color: white;
}

div > p:first-child {
    /* font-weight: bold;
    background: #2e7d32;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: white !important;      */
}


#observations {
    padding: 0px !important;
    text-align: center;
    text-transform: uppercase;
}

#observations ol {
    text-align: justify !important;
    /*list-style: none;*/
}

#observations h4 {
    margin: 0px;
}

#observations ol > li {
    margin: 15px 0px;
    color: #00796b;
    line-height: 25px;
    /*text-transform: none;*/
}


/* RESPONSIVE STYLE BEGINS */

@media only screen and (max-width: 1100px) {
    .container {
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 680px) {
    #heading {
        font-size: 18px;
        letter-spacing: 0.03em;
    }

    h5 {
        font-size: 12px;
    }

    .container {
        padding: 10px 100px;
        /*display: none;*/
        font-size: 8px !important;
        margin: 0px !important;
    }

    #mobile-and-tablet {
        display: grid;
        grid-gap: 30px;
        grid-template-columns:1fr 1fr;
    }

    .currency {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 13px !important;
        margin: 0px;
        padding: 0px;
    }

    .currency div {
        grid-column: 1/4;
    }

    .currency-name {
        padding-left: 0px !important;
        text-align: center;
    }

    .currency .second,
    .currency .third {
        grid-column: 1/3;
        border-right: 3px solid #00796b;
    }

    .currency .second {
        border-bottom: 3px solid #00796b;
    }

    .currency .fourth {
        grid-column: 3/4;
        grid-row: 2/4;
    }

    div > p:first-child {
        border-radius: 0px;
    }

    div > p:first-child {
        border-bottom: 3px solid #00796b;
    }
}

@media only screen and (max-width: 540px) {
    .container {
        padding: 10px 0px;
    }

    #mobile-and-tablet {
        grid-gap: 15px;
    }
}

@media only screen and (max-width: 450px) {
    .container {
        padding: 10px 0px;
    }

    #mobile-and-tablet {
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }
}

/* RESPONSIVE STYLE ENDS */
